<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<nav th:fragment="navbar" class="navbar">
    <ul>
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/libros}">Libros</a></li>
        <li><a th:href="@{/categorias}">Categorías</a></li>
        <li><a th:href="@{/quejas}">Sugerencias / Quejas</a></li>
    </ul>
</nav>

