<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>

<main class="contenido">
    <h1 th:text="${categoria.id == null ? 'Nueva Categoría' : 'Editar Categoría'}"></h1>

    <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required>

        <label>Descripción:</label>
        <textarea th:field="*{descripcion}"></textarea>

        <button type="submit">Guardar</button>
        <a th:href="@{/categorias}">Cancelar</a>
    </form>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
